 .cv
 {
    margin-top: 20px;
    margin-right: 15%;
    margin-left: 15%;
    padding: 20px;
 }
 table {
    background-color: #E0AC69;
    border-spacing: 0.2cm;
   border-radius: 10px;
    }
      
 th, td {
     border: 1px solid black;
     color: black;
     padding:10px; 
     border-radius: 10px;
    
    }